@model Liga.web.Data.Entity.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GolsTeamA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GolsTeamA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GolsTeamB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GolsTeamB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowCardA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YellowCardA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YellowCardB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YellowCardB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCardA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedCardA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RedCardB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RedCardB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConcluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConcluded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
